<!DOCTYPE html>
<html lang="en" class="dark-theme">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RbxPro - Earn Your Robux Today!</title>
    <meta name="description" content="Visit RbxPro and earn your free robux now! Earn robux by playing games and surveys! What're you waiting for?">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#17b823">
    <meta name="author" content="RbxPro">
    <meta name="keywords" content="free robux, robux, roblox, free roblox">
    <meta name="trustpilot-one-time-domain-verification-id" content="8dcf1b19-c1a9-4c41-8374-07437ed617b2">
    <meta property="og:site_name" content="RbxPro">
    <meta property="og:url" content="https://rbx.pro/">
    <meta property="og:image" content="https://media.discordapp.net/attachments/1070301457087209602/1219633648664445098/RBXPRO_Logo1.png?ex=660c0359&is=65f98e59&hm=8c03bf1c0a42ecb36f6f8c01e575d6f2e364296bd601e843e591dd79f59dfd34&=&format=webp&quality=lossless">
    <meta property="og:title" content="RbxPro - Earn Your Robux With Ease!">
    <meta property="og:description" content="Visit RbxPro and earn your free robux now! Earn robux by playing games and surveys! What're you waiting for?">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Visit RbxPro and earn your free robux now! Earn robux by playing games and surveys! What're you waiting for?">
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1070301457087209602/1219633648664445098/RBXPRO_Logo1.png?ex=660c0359&is=65f98e59&hm=8c03bf1c0a42ecb36f6f8c01e575d6f2e364296bd601e843e591dd79f59dfd34&=&format=webp&quality=lossless">
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <style>
        .logo {
            margin-left: -50px;
            font-weight: 700;
            font-size: 42px;
            color: #fff;
        }

        .navbar-item {
            padding: 0.5rem 1rem;
        }

        .navbar-burger {
            margin-right: 1rem;
        }

        .navbar-menu {
            flex-grow: 1;
        }

        .navbar-end {
            justify-content: flex-end;
        }

        .navbar-item.has-addons .button {
            margin-right: 0.5rem;
        }

        .navbar-item.is-active {
            color: #fff;
            background-color: #2182f0;
        }

        
        footer {
            background-color: #066ee7;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .footer-nav li {
            display: inline-block;
            margin-right: 10px;
        }

        .footer-nav li a {
            font-size: 20px;
            color: #fff;
            text-decoration: none;
        }

        .rbxpro-disclaimer {
            color: #fff;
        }
    </style>
</head>

</head>

<body aria-hidden="false" style>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <div class="logo">RBXPRO</div>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end is-centered">
                    <a class="navbar-item navbar-s-item is-active" href="https://rbx.pro">
                        Earn
                    </a>
                    <a class="navbar-item navbar-s-item" href="/withdraw" data-step="4" data-intro="This is where you go when you would like to withdraw your ROBUX!">
                        Withdraw
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons has-addons">
                            <a href="" style="background-color: #2182f0 !important;" class="button is-info" data-step="3" data-intro="Your ROBUX will collect here as you complete offers! This will be ROBUX you can withdraw at any time to your ROBLOX account!">
                                <strong id="rbxbalance">{(Balance)} R$</strong> <!-- Where the balance will be showed -->
                            </a>
                            <a onclick="Logout()" href="" class="button is-info" style="background-color: #2182f0 !important;">
                                <strong>Logout</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container has-text-centered-mobile">
            <div class="columns is-centered">
                <div class="column is-11">
                    <h2 class="title is-spaced is-size-4-mobile has-text-weight-bold mb-2" style="font-size: 1.7rem;" id="usernameDisplay">Welcome, {(user)}!</h2>
                    <h3 class="subtitle" style="font-size: 1.1rem; opacity: 0.85;"><span class="has-text-white" style="font-weight: 500;" data-step="1" data-intro="Complete offers from these offer walls to earn free ROBUX!">Complete these offers to earn ROBUX! 💰 <span class="ec ec-fire"></span></span></h3>
                    <div class="columns is-multiline">
                       <div class="column is-3">
                          <a class="popCard adscend" onclick="openAytS()"> <!-- Redirect the user to the offerwall page -->
                          <span class="fas fa-trophy has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>KiwiWall</span>
                          </a>
                       </div>
                       <div class="column is-3">
                          <a class="popCard lootably" onclick="openBitlab()"> <!-- Redirect the user to the offerwall page -->
                          <span class="fas fa-snowboarding has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>Bitlabs</span>
                          </a>
                       </div>
                       <div class="column is-3">
                          <a class="popCard lootably" onclick="openCPX()"> <!-- Redirect the user to the offerwall page -->
                          <span class="fas fa-clock has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>CPX Research</span>
                          </a>
                       </div>
                    </div>
                    <br>
                    <h2 class="title is-spaced is-size-4-mobile has-text-weight-bold mb-2" style="font-size: 1.7rem;">Social Rewards 📱</h2>
                    <h3 class="subtitle" style="font-size: 1.1rem; opacity: 0.85;"><span class="has-text-white" style="font-weight: 500;">Follow us to stay updated! <span class="ec ec-fire"></span></span></h3>
                    <div class="columns is-multiline" data-step="2" data-intro="Follow our social media platforms for free ROBUX and daily giveaways!">
                       <div class="column is-3">
                          <a class="popCard discord" href="https://discord.gg/rs9Yvsg2Hu" target="_blank"> <!-- Redirect the user to discord -->
                          <span class="fab fa-discord has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>Discord</span>
                          </a>
                       </div>
                       <div class="column is-3">
                          <a class="popCard instagram" href="https://www.instagram.com/rbxpro_/" target="_blank"> <!-- Redirect the user to instagram -->
                          <span class="fab fa-instagram has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>Instagram</span>
                          </a>
                       </div>
                       <div class="column is-3">
                          <a class="popCard youtube" href="https://www.youtube.com/channel/UChmISuYNLEQxzWhizP43FMA" target="_blank"> <!-- Redirect the user to youtube -->
                          <span class="fab fa-youtube has-text-white fa-3x mb-3" aria-hidden="true"></span>
                          <span>Subscribe</span>
                          </a>
                       </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-nav">
            <ul>
                <li><a href="/">Earn</a></li> <!-- Redirect the user to the earn page if clicked -->
                <li><a href="/withdraw">Withdraw</a></li> <!-- Redirect the user to the withdraw page if clicked -->
            </ul>
        </div>
        <hr style="border: 1px solid #fff; width: 30%; opacity: 0;">
        <div class="rbxpro-disclaimer">
            <p>
               RBXPRO | All Rights Reserved.
            </p>
            <p>               RbxPro is not affiliated, associated, or partnered with Roblox Corporation.
            </p>
            <p>© Copyright Rbx.Pro 2024</p>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/11277b4f51.js"></script>
<script>
    function Logout() {
        localStorage.removeItem('sessionToken');
        window.location.href = '/login';
    }
    function openBitlab() {
        const token = localStorage.getItem('sessionToken');
        window.open(`https://web.bitlabs.ai/?uid=${token}&token=c3ed1ee8-3d7c-4d82-a477-53c920424f04`, '_blank')
    }
    function openAytS() {
        const token = localStorage.getItem('sessionToken');
        window.open(`https://www.kiwiwall.com/wall/8gxnIY9Rac77vzHDSpPOe9DJL1AfNsY0/${token}`, '_blank')
    }
    function openCPX() {
        const token = localStorage.getItem('sessionToken');
        window.open(`https://wall.cpx-research.com/index.php?app_id=18203&ext_user_id=${token}`, '_blank')
    }
    function loadUserData() {
            const token = localStorage.getItem('sessionToken');
            if (token){
                fetch('/api/userdata', {
                method: 'POST',
                headers: {
                'Authorization': token
                }
            })
            .then(response => response.json())
            .then(data => {
              
                const balance = document.getElementById("rbxbalance");
                const nameDisplay = document.getElementById("usernameDisplay");
      
               
               
                balance.textContent = `${data.balance} robux`
                nameDisplay.textContent = `Welcome, ${data.username}!`
            })
            .catch(error => {
              window.location.href = '/login';
              return;
            });
            }else{
                window.location.href = '/login';
            }

            
      }
      setInterval(loadUserData, 1000)

</script>
</html>
